
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family: 'Roboto Slab', serif;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.content-section-capital {
    padding: 0;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-size: cover !important;
    background: url(../img/BootUP_capital_bg.jpg) no-repeat center center;
}

.capitaldiv {
    background-color: rgba(0,35,59, 0.8);
    height: 300px;
    width: 80%;
    z-index: 1;
    margin: 0 auto;
}

.capitaltext {
    position: absolute;
    padding-right: 5em;
    text-align: center;
    font-size: 17px !important;

}

.textovercapital {
    width: 80%;
    margin: 0 auto;
    padding-top: 75px;
}

.divcontain {
    text-align: center;
    width: 100%;
    top: 375px;
    color:white;
}


.sometext h3 {
    font-size: 20px;
    text-align: center;
    padding: 0 5em 2em 5em;
}

.row-fluid {
    width: 100%;
    padding-top: 20px;
}

.span2 {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    min-height: 5em;
    min-width: 15%;
}

.focustitle {
    text-align: center;
    font-size: 30px;
}

.col-sm-3 {
    display: inline-block;
    min-height: 5em;

}

.focus2 {
    text-align: center;
    width: 100%

}

.focus-icon2 {
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.line {
    border-color: #818181;
    border-style: solid;
    width: 85%;
}

.icon1 {

    width: 2em;
}

.icon2 {
    width: 2em;
}

.icon3 {
    width: 2em;
}

.icon4 {
    width: 2em;
}

.icon5 {
    width: 2em;
}

.icon6 {
    width: 2em;
}

.icon7 {
    width: 2em;
}

.icon8 {
    width: 1em;
}

.icon9 {
    width: 2em;
}
.focusrow {color:#002640;padding: 20px 0 30px 0; margin: 99px 0;}
.icontext {
    color: #002640;
    font-size: 17px;
}

.smart1 {
    font-size: 18px;
}

.textbottom {
    font-size: 20px;
    text-align: center;
    padding: 0 11em 2em 11em;
    color: white;
}

.capitalbox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bottomdiv {
    background-color: #002640;
}
.bottomdiv .content {color:white;width: 50%;text-align: center;margin: 0 auto; padding: 16em 0 16em 0;}
.bottomdiv .content .title {font-size: 36px;padding-bottom: 20px;}
.bottomdiv .content .text {width: 75%;margin: 0 auto;}
.bottomdiv .content .text span {text-decoration: underline;}

.bottombtn {
    text-align: center;
    padding-bottom: 2em;
}

.contacttext {
    color: white;
    font-size: 20px;
    width: 25%;
    text-align: right;
    display: inline-block;

}

.contactusbtn {
    background-color: transparent;
    border: solid;
    border-width: thin;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 10em;
    height: 2.5em;
}

.team {
    text-align: center;
    padding-top: 175px;
    height: 117%;
    background-size: cover !important;
    background: url(../img/capital_section_bg.jpg) no-repeat center center;
    color: white;
}
.team .title {font-size: 32px;padding-bottom: 50px;}
.team .name {font-size: 20px;padding: 20px 0; padding-top: 40px;}
.logo {position: absolute;top: -11px;left: calc(50% - 200px);z-index: 1;}
.logo img {width:400px;}

.menu { text-align: center;height: 25px;padding-top: 138px;color: white;}
.menu a {color: white;text-decoration: none;}

.block-icon-height {height:110px;}

@media (max-width:420px) {
    .team {height: 1400px;}
    .logo {left: calc(50% - 150px);}
    .logo img {width:300px;}
    .divcontain {padding: 0;}
    .capitaldiv {width: 100%;height: 400px;}
    .textovercapital {width:80%;padding-top: 35px;}
    .team {padding-top:200px;height: 1575px;}
    .team .text {padding-bottom:20px;}
    .bottomdiv .content {width:100%;}
    .bottomdiv .content .title {font-size:22px;}
    .icontext {font-size:11px;}
    .icon4 {width:69px;}
    .icon6 {width:91px;}
}


@media (min-width:421px) and (max-width: 520px) {
    .team {height: 220%;
        padding-top: 426px;
    }
    .capitaldiv {
        margin-top: 140px;
        height: 100% !important;
        padding-bottom: 60px;
    }
    .textovercapital{
        width: 75%;
    }
}

@media (min-width:521px) and (max-width: 920px) {
    .team {height: 196%;
            padding-top: 456px;
    }
    .capitaldiv {
        height: 100% !important;
        padding-bottom: 40px;
    }
    .team .name {padding-top: 40px;}

    .divcontain {
    text-align: center;
    width: 100%;
    top: 488px;
    color: white;
    height: 22%;
    }
}

@media (min-width:921px) and (max-width: 1226px) {
    .team {height: 150%;
    }
}

@media (min-width:674px) and (max-width: 920px) {
   

}



