@charset "UTF-8";
/* CSS Document */


#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:25px; padding-bottom:25px; overflow:auto;} /*-Grey-*/

#upperbio {width:auto}

#titlesmall {display:none; width:90%;}

#container {
    
    width: 950px;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/steveflukeportrait.jpg); }



#right {background-color: #fff; padding:10px; height:auto; width:600px;}


#left, #right {
	margin:0 auto;
    float: left;
            
}


a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#comment {
	
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}

@media screen and (max-width: 1000px) {
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:25px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container {
    
    width: 950px;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/steveflukeportrait.jpg); }



#right {background-color: #fff; padding:10px; height:auto; width:50%;}


#left, #right {
	margin:0 auto;
    float: left;
            
}


a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#comment {
	position:absolute;
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 825px) {
	
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container {
    
    width: 950px;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/steveflukeportrait.jpg); }



#right {background-color: #fff; padding:10px; height:auto; width:45%;}


#left, #right {
	margin:0 auto;
    float: left;
	
            
}


a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#comment {
	position:absolute;
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 760px) {
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/

#upperbio {display:none; }


#container {
    
    width: auto;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}

#titlesmall {display:block; width:90%; padding:15px;}




#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
	 width:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/steveflukeportrait.jpg);}



#right {background-color: #fff; padding:10px; height:auto; width:auto;}


#left, #right {
	margin:0 auto;
    float: left;
            
}


a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#comment {
	position:absolute;
	line-height:20px;
	height:auto;
	width: 90%;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 625px) {
#outercontainer { width:100%;background-color:#CCC; height:auto; padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container {
    
    width: auto;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}

#upperbio {display:none; }

#portrait {width:300px; height:350px; color:#F00; background:url(../images/steveflukeportrait.jpg); }



#right {background-color: #fff; padding:10px; height:auto; }


#left, #right {
	margin:0 auto;
    float: left;
	width:90%;
            
}


a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#comment {
	
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 425px) {
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container {
    
    width: auto;
	margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}

#upperbio {display:none; }







#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/steveflukeportrait.jpg);margin-top:10px; }



#right {background-color: #fff; padding:10px; height:auto; ;}


#left, #right {
	margin:0 auto;
    float: left;
	width:90%;
            
}


a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#comment {
	
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}