@charset "UTF-8";
/* CSS Document */


#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:25px; padding-bottom:25px; overflow:auto;} /*-Grey-*/

#upperbio {width:auto}

#titlesmall {display:none; width:90%;}

#container2 {
    
    width: 950px;
	padding:20px;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/kevinsantiagoportrait.jpg); }



#right {background-color: #fff; padding:10px; height:auto; width:600px;}


#left, #right {
	margin:0 auto;
    float: left;
            
}





#comment {
	
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}

@media screen and (max-width: 1000px) {
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:25px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container2 {
    
    width: 950px;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}





#right {background-color: #fff; padding:10px; height:auto; width:50%;}


#left, #right {
	margin:0 auto;
    float: left;
            
}




#comment {
	position:absolute;
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 825px) {
	
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container2 {
    
    width: 950px;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}

#upperbio {display:none; }





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}





#right {background-color: #fff; padding:10px; height:auto; width:45%;}


#left, #right {
	margin:0 auto;
    float: left;
	
            
}





#comment {
	position:absolute;
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 760px) {
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container2 {
    
    width: auto;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}

#titlesmall {display:block; width:90%; padding:15px;}




#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
	 width:auto;
}

#portrait {width:300px; height:350px; color:#F00; background:url(../images/kevinsantiagoportrait.jpg);}

#upperbio {display:none; }


#right {background-color: #fff; padding:10px; height:auto; width:auto;}


#left, #right {
	margin:0 auto;
    float: left;
            
}



#comment {
	position:absolute;
	line-height:20px;
	height:auto;
	width: 90%;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 625px) {
#outercontainer { width:100%;background-color:#CCC; height:auto; padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container2 {
    
    width: auto;
     
	 margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}



#upperbio {display:none; }



#right {background-color: #fff; padding:10px; height:auto; }


#left, #right {
	margin:0 auto;
    float: left;
	width:90%;
            
}




#comment {
	
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}
	
@media screen and (max-width: 425px) {
	
#outercontainer { width:100%;background-color:#CCC; height:auto;padding-top:0px; padding-bottom:25px; overflow:auto;} /*-Grey-*/



#container2 {
    
    max-width: 1200px;
	margin: 0 auto;
	 background-color:#fff;
	 height:auto;
	 overflow:auto;
}

#upperbio {display:none; }





#left {
     background-color: #fff;
	 height:auto;
	 padding: 10px;
	 margin:auto;
}




#right {background-color: #fff; padding:10px; height:auto; ;}


#left, #right {
	margin:0 auto;
    float: left;
	width:100%;
            
}




#comment {
	
	line-height:20px;
	height:auto;
	width: 720px;
	margin:auto;
	background-color: #f0f0f0;
	margin: 10px 0 0 0px;}
}